@import url(https://db.onlinewebfonts.com/c/ab0e848e0e83a85a5af69f5acf1ebe73?family=Cursed+Timer+ULiL); 

@font-face {
    font-family: "Cursed Timer ULiL";
    src: url("https://db.onlinewebfonts.com/t/ab0e848e0e83a85a5af69f5acf1ebe73.eot");
    src: url("https://db.onlinewebfonts.com/t/ab0e848e0e83a85a5af69f5acf1ebe73.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ab0e848e0e83a85a5af69f5acf1ebe73.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ab0e848e0e83a85a5af69f5acf1ebe73.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ab0e848e0e83a85a5af69f5acf1ebe73.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ab0e848e0e83a85a5af69f5acf1ebe73.svg#Cursed Timer ULiL")format("svg");
}

body {
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 575px;
    height: 385px;
    background-color: #1B244A;
}

h3 {
    font-family: Verdana;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    color: #EEEEEE;
    margin-bottom: 0;
}

.score-board {
    box-sizing: border-box;
    width: 155px;
    height: 120px;
    background-color: #080001;
    border-radius: 5px;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 0;
}

.score {
    font-family: Cursed Timer ULiL;
    font-weight: 400;
    font-style: Regular;
    font-size: 90px;
    color: #F94F6D;
    margin: 0;
}

.score-buttons {
    width: 155px;
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.score-btn {
    width: 45px;
    height: 45px;
    background-color: #1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: Cursed Timer ULiL;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
}
